<html>
<head>
  <title>P2P Vendescrow</title>
</head>
<body>
  <div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#444444; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;" data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5">
    <div class="Unsubscribe--addressLine">
      <p class="Unsubscribe--senderName" style="font-size:16px;line-height:20px">
        Hi, {{ seller }},
      </p>
      <p style="font-size:16px;line-height:20px">
          Your trade transaction has been set <strong>ON APPEAL</strong> by <strong>{{ buyer }}</strong> with order id : <strong>{{ narration }}</strong>.<br/>
          You can verify this transfer transaction of <strong>{{ amount }}</strong> from <strong>{{ buyer }}</strong> and narration as <strong>{{ narration }}</strong> yourself and reply to us, so as reactivate your trade and activate transaction.<br/>
          Here is the <strong>{{ buyer }}'s contact {{ phone }}</strong>
      </p>
      <p style="font-size:16px;line-height:20px">
        Thank you<br/>
        VENDESCROW SUPPORT<br/>
        <strong>
            <small>
                Support Systems
            </small>
        </strong>
      </p>
      <p style="font-size:16px;line-height:20px">
        <span class="Unsubscribe--senderAddress">Airport Road</span>, <span class="Unsubscribe--senderState">Aisama Gardens</span> <span class="Unsubscribe--senderZip">Ghana, 1005601</span>
      </p>
    </div>
  </div>
</body>
</html>